@charset "UTF-8";
/* General styles for the page */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Assets/background.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
}
a{
	text-decoration:none;
}

/* Container for the edit form */
.edit-container {
	background-color: rgba(193, 246, 237, 0.8);
            backdrop-filter: blur(5px);
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 30vw;
    margin: 20px auto;
    padding: 30px;
}

.edit-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
}

/* Styling the form inputs */
form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
    
}

form input {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    
}

form input:focus {
    border-color: #66b3ff;
    outline: none;
}

/* Submit button styles */
.btn-container{
	text-align:center;
	display:flex;
	gap: 1vw;
}

.btn {
    width: 80%;
    padding: 12px;
    background-color: #02353C;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#returnhome{
	margin-top:3vh;	
}

.btn:hover {
    background-color: #3FD0C9;
}

/* Error or success messages */
.alert {
    padding: 20px;
    color: white;
    background-color: #f44336;
    margin-bottom: 20px;
    border-radius: 4px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}
